

    <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="../abstract">
                <i class="nav-icon icon-calculator"></i> Abstract
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../intro">
                <i class="nav-icon icon-calculator"></i> 1. Introduction
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../work">
                <i class="nav-icon icon-calculator"></i> 2. Related Work
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../our">
                <i class="nav-icon icon-calculator"></i> 3. Deep Modelnets with plug & play geometric vision modules
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../experiments">
                <i class="nav-icon icon-calculator"></i> 4. Experiments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../conclusion">
                <i class="nav-icon icon-calculator"></i> 5. Conclusion
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../references">
                <i class="nav-icon icon-calculator"></i> References
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../issues">
                <i class="nav-icon icon-calculator"></i> Issues
              </a>
            </li>
          </ul>
        </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>